.header {
    grid-column: 1/3;
    font-size: 190px;
    z-index: 1;
    text-align: center;
    padding-top: 90px;
}
image {
    grid-column: 1/2;
}
.cherry {
    color: darkred;
    grid-column: 2/3;
    font-size: 80px;
    text-align: center;
    padding-top: 400px;
    background-color: gray;
}